<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>

<body>
    <!-- Header Mobile Start -->
    <header class="mobile">
        <label class="menu-switch">
            <input type="checkbox" id="nav_switch_handle" hidden>
            <div class="humbergur-menu">
                <div class="menu-line menu-line-1"></div>
                <div class="menu-line menu-line-2"></div>
                <div class="menu-line menu-line-3"></div>
            </div>
        </label>
        <span class="header__item header__text fw-lighter">Menu</span>
        <div class="header__space"></div>
    </header>
    <!-- Header Mobile End -->
    <!-- Navigation Start -->
    <nav>
        <div class="nav__container">
            <a href="/" class="nav__item active">
                <div class="nav__item-box">
                    <div class="nav__item-icon">
                        <i class="bx bx-home"></i>
                    </div>
                    <div class="nav__item-name">home</div>
                </div>
            </a>
            <div class="nav__item nav__item__dropdown">
                <div class="nav__item-box">
                    <div class="nav__item-icon">
                        <i class="bx bx-home"></i>
                    </div>
                    <div class="nav__item-name">dropdown</div>
                    <div class="nav__item__dropdown-icon">
                        <i class='bx bxs-left-arrow'></i>
                    </div>
                </div>
                <div class="nav__item-dropdown nav__item__dropdown-dropdown">
                    <div class="nav__item__dropdown-list">
                        <a href="/" class="nav__item">
                            <div class="nav__item-box">
                                <div class="nav__item-icon">
                                    <i class="bx bx-home"></i>
                                </div>
                                <div class="nav__item-name">home</div>
                            </div>
                        </a>
                        <a href="/" class="nav__item">
                            <div class="nav__item-box">
                                <div class="nav__item-icon">
                                    <i class="bx bx-home"></i>
                                </div>
                                <div class="nav__item-name">home</div>
                            </div>
                        </a>
                        <a href="/" class="nav__item">
                            <div class="nav__item-box">
                                <div class="nav__item-icon">
                                    <i class="bx bx-home"></i>
                                </div>
                                <div class="nav__item-name">home</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="nav-swiper-area"></div>
    <!-- Navigation End -->
    <!-- Main Start -->
    <main></main>
    <!-- Main End -->
    <!-- Loader Start -->
    <div class="loader-box">
        <div class="loader">
            <div class="layer">GO</div>
            <div class="layer"></div>
            <div class="layer"></div>
        </div>
    </div>
    <!-- Loader End -->
</body>
<script src="/static/dist/script.js"></script>

</html>